@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.glow-text-red {
  position: relative;
  width: 100%;
  -webkit-box-reflect: below 0.2px linear-gradient(transparent, #0002);
  line-height: none;
  animation: animate-1 5s linear infinite;
}

.glow-text-blue {
  position: relative;
  width: 100%;
  -webkit-box-reflect: below 0.2px linear-gradient(transparent, #0002);
  line-height: none;
  animation: animate-2 5s linear infinite;
}

@keyframes animate-1 {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: white;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #FF033E, 0 0 20px #AA0000, 0 0 40px #FF033E,
      0 0 80px #AA0000, 0 0 160px #FF033E;
  }
}

@keyframes animate-2 {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: white;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #0000FF, 0 0 20px #000080, 0 0 40px #0000FF,
      0 0 80px #000080, 0 0 160px #0000FF;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeout {
  animation: fadeOut 15s forwards;
}



.linear-wipe {
  text-align: center;
  
  background: linear-gradient(to right, #FFDD00 20%, #ce8f2a 40%, #FBB034 60%, #FFDD00 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 5s linear infinite;
}

@keyframes shine {
    to {
      background-position: 200% center;
    }
  }