@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.glow-text-red {
  position: relative;
  width: 100%;
  -webkit-box-reflect: below 0.2px linear-gradient(transparent, #0002);
  line-height: none;
  animation: animate-1 5s linear infinite;
}

.glow-text-blue {
  position: relative;
  width: 100%;
  -webkit-box-reflect: below 0.2px linear-gradient(transparent, #0002);
  line-height: none;
  animation: animate-2 5s linear infinite;
}

@keyframes animate-1 {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: white;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #ff033e, 0 0 20px #aa0000, 0 0 40px #ff033e,
      0 0 80px #aa0000, 0 0 160px #ff033e;
  }
}

@keyframes animate-2 {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: white;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #00eaff, 0 0 20px #3c8ce7, 0 0 40px #00eaff,
      0 0 80px #3c8ce7, 0 0 160px #00eaff;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeout {
  animation: fadeOut 15s forwards;
}

/* .linear-wipe {
  text-align: center;
  
  background: linear-gradient(to right, #19fb9b 20%, #199890 40%, #005f59 60%, #19fb9b 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 5s linear infinite;
} */

.linear-wipe {
  text-align: center;
  
  background: linear-gradient(to right, #FFDD00 20%, #ce8f2a 40%, #FBB034 60%, #FFDD00 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 5s linear infinite;
}

/* .linear-wipe {
  text-align: center;

  background: linear-gradient(
    to right,
    #00eaff 20%,
    #3c8ce7 40%,
    #3c8ce7 60%,
    #00eaff 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 5s linear infinite;
} */

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
