@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mars";
  src: url("/fonts/Mars.ttf?v=1.0") format("truetype");
}

@font-face {
  font-family: "Yapari";
  src: url("/fonts/Yapari.ttf") format("truetype");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



.glow-text-red {
  position: relative;
  width: 100%;
  -webkit-box-reflect: below 0.2px linear-gradient(transparent, #0002);
  line-height: none;
  animation: animate-1 5s linear infinite;
}

.glow-text-blue {
  position: relative;
  width: 100%;
  -webkit-box-reflect: below 0.2px linear-gradient(transparent, #0002);
  line-height: none;
  animation: animate-2 5s linear infinite;
}

@keyframes animate-1 {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: white;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #ff033e, 0 0 20px #aa0000, 0 0 40px #ff033e,
      0 0 80px #aa0000, 0 0 160px #ff033e;
  }
}

@keyframes animate-2 {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: white;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #00eaff, 0 0 20px #3c8ce7, 0 0 40px #00eaff,
      0 0 80px #3c8ce7, 0 0 160px #00eaff;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeout {
  animation: fadeOut 15s forwards;
}

/* .linear-wipe {
  text-align: center;
  
  background: linear-gradient(to right, #19fb9b 20%, #199890 40%, #005f59 60%, #19fb9b 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 5s linear infinite;
} */

.linear-wipe {
  text-align: center;
  
  background: linear-gradient(to right, #ff00be 20%, #7928b8 40%, #351079 60%, #ff00be 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 5s linear infinite;
}

/* .linear-wipe {
  text-align: center;

  background: linear-gradient(
    to right,
    #00eaff 20%,
    #3c8ce7 40%,
    #3c8ce7 60%,
    #00eaff 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 5s linear infinite;
} */

@keyframes shine {
  to {
    background-position: 200% center;
  }
}


.container {
	width: auto;
}
.container .btn {
	position: relative;
	top: 0;
	left: 0;
	width: 250px;
	height: 50px;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.container .btn:hover a {
	letter-spacing: 3px;
}
.container .btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
.container .btn:hover a::before {
	transform: skewX(45deg) translate(200px);
}
.container .btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.container .btn:hover::before /*lightup button*/ {
	bottom: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}

.container .btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.container .btn:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}
.container .btn:nth-child(1)::before, /*change 1*/
.container .btn:nth-child(1)::after {
	background: #ff00be;
	box-shadow: 0 0 5px #ff00be, 0 0 15px #ff00be, 0 0 30px #ff00be,
		0 0 60px #ff00be;
}
.container .btn:nth-child(3)::before, /* 3*/
.container .btn:nth-child(3)::after {
	background: #ffa502;
	box-shadow: 0 0 5px #ffa502, 0 0 15px #ffa502, 0 0 30px #ffa502,
		0 0 60px #ffa502;
}
.container .btn:nth-child(4)::before, /* 4*/
.container .btn:nth-child(4)::after {
	background: #1eff45;
	box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45,
		0 0 60px #1eff45;
}

.container .btn:nth-child(5)::before, /* 5*/
.container .btn:nth-child(5)::after {
	background: #48faff;
	box-shadow: 0 0 5px #48faff, 0 0 15px #48faff, 0 0 30px #48faff,
		0 0 60px #48faff;
}
.container .btn:nth-child(6)::before, /* 6*/
.container .btn:nth-child(6)::after {
	background: #45159f;
	box-shadow: 0 0 5px #45159f, 0 0 15px #45159f, 0 0 30px #45159f,
		0 0 60px #45159f;
}
